@import "tailwindcss";

@layer base {
	.pagination-button {
		@apply py-1 px-3 border-1 border-gray-500 bg-gray-500/15 text-gray-500 rounded-3xl cursor-pointer;
		@apply hover:border-[#38bdf8] hover:bg-[#38bdf8]/15 hover:text-[#38bdf8];
		@apply data-[active=true]:border-[#38bdf8] data-[active=true]:bg-[#38bdf8]/15 data-[active=true]:text-[#38bdf8] data-[active=true]:cursor-default;
		@apply disabled:border-dashed disabled:border-gray-700 disabled:bg-gray-800/15 disabled:text-gray-500 disabled:cursor-default;
	}
}
